#contadorAliens {
 position: absolute;
  top: 10px;
  right: 200px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgba(108, 9, 221, 0.6);
  padding: 10px;
  border-radius: 10px;
}

#tiempo {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}

#espacio {
  position: relative;
  width: 640px;
  height: 620px;
  background-image: url("img/espacio.gif");
  overflow: hidden;
}

/* Z-index bajo: el disparo va detrás de la nave */
.disparo {
  position: absolute;
  background-image: url("img/laser.png");
  width: 50px;
  height: 150px;
  background-size: cover;
  transform: translate(-25px, -75px); /* centra el láser */
  z-index: 1;
}


/* Z-index medio: los aliens */
.alien {
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("img/alien2.png") no-repeat center;
  background-size: contain;
  z-index: 2;
}

/* Z-index alto: la nave va encima de todo */
.nave {
  position: absolute;
  background-image: url("img/nave2.png");
  width: 100px;
  height: 100px;
  background-size: cover;
  z-index: 3;
}



